body {
    margin: 0;
    padding: 0;
}

.background {
    overflow: hidden;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: url('../picture/background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    /* margin-top: 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.input-and-random,
.select-check,
.submit-button-field {
    width: 100%; 
}

.input-form {
    width: 50%;
}

.input-group {
    margin: 1%;
}

.select-and-input {
    /* background-color: lightgray; */
}

.select-by-random {
    margin: 2%;
}

/* .select-by-input {
    margin: 2%;
} */

.select-check {
    text-align: center;
}

.submit-button {
    margin-top: 2%;
}

.schedule-display {
    height: 100vh;
    width: 100vw;
}